* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
  color: #A59F6F;
  background-color: #000;
  overflow: hidden;   
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: monospace, sans-serif;
}

a {
  color: #60BB2D;
}

/* ### ROOM LIST ### */
.chat {
    left: 0;
    top: 3rem;
    width: 100%;
    height: calc(100% - 6rem);
    position: absolute;
}

.chat--large {
    top: 0;
    height: calc(100% - 3rem);
}

.chat__room {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    position: absolute;
    display: none;
}

.chat__room.is-active {
    display: block;
}

/* ### ROOM LIST ### */
.room-list {
    height: 3rem;
    display: flex;
    overflow: auto;
    border-bottom: 1px solid #60BB2D;
}

.room-list__item {
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    opacity: .6;
    color: #60BB2D;
}

.room-list__item:before {
    content: attr(title);
    font-weight: 700;
    opacity: 0;
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

.room-list__item:hover,
.room-list__item.is-active {
    opacity: 1;
    font-weight: 700;
    cursor: pointer;
}

/* ### MESSAGE ### */
.message {
  width: 100%;
  margin-bottom: 2rem;
}

.message:last-child {
    margin-bottom: 1rem;
}

.message__info {
  width: 100%;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.message__info-name {
  font-weight: 700;
}

.message__info-datetime {
  font-size: .8rem;
  margin-left: .5rem;
}

.message__info-extra {
  color: #969696;
  margin-top: .5rem;
  width: 100%;
  font-size: .8rem;
}

.message__info-extra:before {
  content: "(";
}

.message__info-extra:after {
  content: ")";
}

.message__text {
  position: relative;
  white-space: pre-line;
}

.message__text p {
  margin: 0;
}

.message__text img {
  margin: 1rem 0 0 0;
  width: 100%;
  max-width: 320px;
  display: block;
  height: auto;
  vertical-align: top;
}

/* FORM */
.form {
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background: none;
    position: fixed;
    display: flex;
}

.form--modal {
    bottom: 50%;
}

.form--message {
    height: 3rem;
    border-top: 1px solid #60BB2D;
}

.form__input-message {
    padding: 0 2rem 0 0;
    height: 1.8rem;
    width: 100%;
    border: 0;
    outline: 0;
    margin: 0;
    font-size: 1rem;
    background: none;
    white-space: pre-line;
    resize: none;
    font-family: monospace;
    color: #60BB2D;
    border-bottom: 1px solid #60BB2D;
}

.form--message .form__input-message {
    border: 0;
}

.form__input-submit {
  right: 0;
  top: 0;
  padding: 0 1rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #60BB2D;
  outline: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  background: none;
}


/* ### MODAL ### */
.modal {
  left: 0;
  top: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #20201E;
  position: fixed;
}

.modal__form {
  width: 100%;
  max-width: 40rem;
  margin: 5rem auto;
  position: relative;
}

.modal__form-input {
  padding: 0 2rem 0 0;
  width: 100%;
  height: 1.6rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
  border-bottom: 1px solid #60BB2D;
  color: #60BB2D;
  font-family: monospace, sans-serif;
  background: none;
}

.modal__form-submit {
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  outline: 0;
  border: 0;
  color: #60BB2D;
  cursor: pointer;
  position: absolute;
  background: none;
}

.modal__info-url {
  padding: 0 1rem;
  text-align: center;
  visibility: hidden;
}

.modal__info_url a {
  color: white;
}

.observer .chat {
  padding: 2rem;
}

.observer .form {
  visibility: hidden;
}

.observer .message:last-child {
  margin-bottom: 0;
}